/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 32%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  body {
    margin: 0;
    background-color: black;
    color: white;
    padding: 20px;
    flex-grow: 1;
  }

  .topnav {
    bottom: 0;
    left: 0;
    width: 100%;
    background: hsla(240, 1%, 17%, 0.75); /*sets the Hue, saturation, lightness, and alpha*/
    backdrop-filter: blur(10px);
    border: 1px solid(hsl(0, 0%, 22%));
    border-radius: 12px 12px 0 0;
    box-shadow: 0 16px 30px hsla(0, 0%, 0%, alpha);

    /* background-color: rgb(34, 33, 33); */
    overflow: hidden;
  }

  .topnav a {
    float: right;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    
  }

  .topnav a.active {
    color: #f8d568;
  }

  .Resume {
    background-color: #3498DB;
    color: white;
    border-radius: 2px;
  }

  /*MoviesTV*/
  #griddy {
    display: flex;
    flex-wrap: wrap;
  }

  .grid-item {
    width: 100px;
    height: 150px;
    margin: 5px;
    padding: 15px;
  }

  .grid-item > img {
    width: 100px;
    height: 150px;
  }

  .fav-movies {
    color: #B0C4DE;
  }

  .fav-shows {
    color: #B0C4DE;
  }

  .fav-anime {
    color: #B0C4DE;
  }

  .currently {
    color: #B0C4DE;
  }

  /*Contact page*/
  img {
    display: block;
    padding: 10px;
  }

  a {
    color: cornsilk;
  }

  /*Hobbies*/
  .archery {
    border-radius: 50%;
  }

  .games {
    border-radius: 50%;
  }

  .legos {
    border-radius: 50%;
  }

  .manga {
    border-radius: 50%;
  }

  #grid {
    display: flex;
    flex-wrap: wrap;
  }

  .grid-item2 {
    width: 300px;
    height: 550px;
    margin: 5px;
    padding: 15px;
  }

  .grid-item2 > img {
    width: 300px;
    height: 300px;
  }

  /*Projects*/
  #image {
    width: 450px;
    height: 250px;
    margin: 5px;
    padding: 15px;
  }

  #project {
    color: black;
  }

  /*Smaller screen*/
  @media only screen and (max-width: 800px) {
    .column {
      width: 100%;
    }

    .grid-item {
      width: 50%;
    }

    .grid-item2 {
      width: 100%;
      margin: 10px 0;
      padding: 10px;
      box-sizing: border-box;
      overflow: hidden;
      text-align: center; /* Center the text */
    }
  
    .grid-item2 > img {
      width: 100%; /* Make the image fill the container */
      height: auto; /* Maintain aspect ratio */
      margin-bottom: 10px;
    }
  
    .grid-item2 > h4,
    .grid-item2 > p {
      max-width: 100%; /* Ensure text doesn't exceed image width */
    }

  }