/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 32%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  body {
    margin: 0;
    background-color: black;
    color: white;
    padding: 20px;
    flex-grow: 1;
  }
  .topnav {
    bottom: 0;
    left: 0;
    width: 100%;
    background: hsla(240, 1%, 17%, 0.75); /*sets the Hue, saturation, lightness, and alpha*/
    backdrop-filter: blur(10px);
    border: 1px solid(hsl(0, 0%, 22%));
    border-radius: 12px 12px 0 0;
    box-shadow: 0 16px 30px hsla(0, 0%, 0%, alpha);

    /* background-color: rgb(34, 33, 33); */
    overflow: hidden;
  }

  .topnav a {
    float: right;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    
  }

  /*Changes color of navbar thing*/
  /* .topnav a:hover {
    background-color: #FCF4A3;
    color: white;
  } */

  .topnav a.active {
    color: #f8d568;
  }